body {
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin: 5px;
    color: white;
}

#nav {
    background-color: black;
}

.nav-item a {
  color: white;
  text-decoration: none;
  padding: 5px;

}

.nav-item a:hover {
  background-color: orange;
  color: black;
}